workDir = '/mnt/data/sur/users/mmontante/02_resultados/nf_work'


executor {
    queueSize = 5
    submitRateLimit = '10/1min'
}


report {
    enabled = true
    file    = '/mnt/data/sur/users/mmontante/02_resultados/nf_work/nf_logs/nextflow_report.html'
    overwrite = true
}

trace {
    enabled = true
    file    = '/mnt/data/sur/users/mmontante/02_resultados/nf_work/nf_logs/nextflow_trace.txt'
    overwrite = true
}




params {
    genomes        = '/mnt/data/sur/users/mmontante/01_data/others/*faa'
    memote_input   = '/mnt/data/sur/users/mmontante/02_resultados/cc/models/cc_pk_gp_lb*.xml'
    comets_script  = '/mnt/data/sur/users/mmontante/SimulacionesMetabolicas/sim_syncom_comets.py'
    gem_path       = '/mnt/data/sur/users/mmontante/02_resultados/cc/models/faltantes'
    com_path      = '/mnt/data/sur/users/mmontante/01_data/rz/syncoms.csv'
    outbase        = '/mnt/data/sur/users/mmontante/02_resultados'
    fill_outdir    = '/mnt/data/sur/users/mmontante/02_resultados'
    fill_input     = '/mnt/data/sur/users/mmontante/02_resultados/rz/gapseq_raw'
    fill_media     = '/mnt/data/sur/users/mmontante/01_data/media/LBmed.csv' 
    media          = 'mm'
    cycles         = 200000
    media_dil      = 0.1
    media_vol      = 0.03
    output_dir     = '/mnt/data/sur/users/mmontante/02_resultados/cc/memote'
    gapseq_indir   = '/mnt/data/sur/users/mmontante/02_resultados/rz/gapseq/gapfind'
    gapseq_outdir  = '/mnt/data/sur/users/mmontante/02_resultados'
    gapseq_media   = '/mnt/data/sur/users/mmontante/01_data/media/LBmed.csv'
   
    
}

profiles {
    memote {
        process.executor = 'slurm'
        process.cpus      = 4
        process.memory    = '40 GB'
        process.time      = '240h'
    }

    comets {
        process.executor = 'slurm'
        process.memory     = '100 GB'
        process.cpus      = 4
        params.outbase    = '/mnt/data/sur/users/mmontante/02_resultados/cc'
    }

     combos {
        process.executor = 'slurm'
        process.cpus      = 2
	process.memory    = '40 GB'
        process.time      = '48h'
        params.gem_path   = '/mnt/data/sur/users/mmontante/02_resultados/rz/consenso'
        params.outbase    = '/mnt/data/sur/users/mmontante/02_resultados/rz'
    }

     doall {
    process.executor = 'slurm'
    process.cpus      = 4
    process.memory    = '16 GB'
    process.time      = '24h'
}
    gapseq {
    process.executor = 'slurm'
    process.cpus      = 4
    process.memory    = '40 GB'
    process.time      = '24h'
}

fill {
        process.executor = 'slurm'
        process.cpus      = 4
        process.memory    = '16 GB'
        process.time      = '24h'
    }
   
}
