workDir = '/mnt/data/sur/users/mmontante/02_resultados/nf_work'

report {
    enabled = true
    file    = '/mnt/data/sur/users/mmontante/02_resultados/nf_work/nf_logs/nextflow_report.html'
    overwrite = true
}

trace {
    enabled = true
    file    = '/mnt/data/sur/users/mmontante/02_resultados/nf_work/nf_logs/nextflow_trace.txt'
    overwrite = true
}


params {
    memote_input   = '/mnt/data/sur/users/mmontante/02_resultados/rz/models/*.xml'
    comets_script  = '/mnt/data/sur/users/mmontante/SimulacionesMetabolicas/sim_syncom_comets.py'
    gem_path       = '/mnt/data/sur/users/mmontante/faltantes'
    outbase        = '/mnt/data/sur/users/mmontante/02_resultados/cc/indi'
    media          = 'mm'
    cycles         = 10000
    media_dil      = 0.1
    media_vol      = 0.03
    output_dir     = '/mnt/data/sur/users/mmontante/02_resultados/rz/memote'
    
}

profiles {
    memote {
        process.executor = 'slurm'
        process.cpus      = 8
        process.memory    = '40 GB'
        process.time      = '240h'
    }

    comets {
        process.executor = 'slurm'
        process.memory     = '100 GB'
        process.cpus      = 4
        params.outbase    = '/mnt/data/sur/users/mmontante/02_resultados/cc/indi'
    }

     combos {
        process.executor = 'slurm'
        process.cpus      = 2
	process.memory    = '40 GB'
        process.time      = '48h'
        params.gem_path   = '/mnt/data/sur/users/mmontante/02_resultados/rz/models/cv_final'
        params.outbase    = '/mnt/data/sur/users/mmontante/02_resultados'
    }
}
